@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.rouge, .red {
    color: red;
}

.mini {
    font-size: 75%;
}
.gras {
    font-weight: bold;
}

.two_column {
    display: flex;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    //width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    //top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Menu */
#menu{
	z-index: 5;
	background-color: #2c3e50;

	width: 200px;
	height: 100vh;

	display: block;
	position: fixed;
	left: -200px;
	top: 0;
	bottom: 0;
	transition: left 0.3s linear;

	overflow-x: hidden;
	overflow-y: auto;
}
#menu ul{
	margin: 0;
	padding: 0;
}
#menu ul li{
	list-style: none;
}
#menu ul li a{
	background-color: #2c3e50;
	color: #ccc;
	display: block;
	width: 180px;
	padding: 10px;

	text-align: center;
	text-decoration: none;
	transition-duration: 0.5s;
}

#menu ul li a:hover{
	background-color: #34495e;
}

#menu.visible{
	left: 0px;
}

/* bouton menu */
#menu_btn{
	width: 5vw;
	height: 5vh;

	position: fixed;
	top: 15px;
	left: 10px;
	transition: left 0.3s linear;
}

#menu_btn.visible{
	left: 210px;
}

@media screen and (max-width: 1000px) {
  #menu_btn{
  	width: 15vw;
	height: 15vh;
  }
}


/* animation Mario style */

/* Ground */
.animation{
	height: 170px;
	width: 100%;
	margin: 0;
	background-image: url('../img/cloud2.png'), url('../img/ground.png');
	background-repeat: no-repeat, repeat-x;
	background-color: #9cfcf0;
	animation: move 10s infinite linear; 
}

@keyframes move{
	0%{
		background-position: 105% 15%, 100% 100%;
	}
	100%{
		background-position: -5% 15%, 0% 100%;
	}
}
/* Cloud */
.cloud{
	z-index: 1;
	width: 32px;
	height: 23px;

	position: absolute;
	top: 4px;

	background-image: url('../img/cloud1.png');
	background-repeat: no-repeat;
	animation: move_cloud 7s infinite linear; 
}

@keyframes move_cloud{
	0%{
		left: 105%;
	}
	100%{
		left: -5%;
	}
}
/* Mario */
.mario{
	z-index: 15;
	position: absolute;
	top: 108px;

	width: 26px;
	height: 34px;
	background-repeat: no-repeat;
	animation: mario 0.3s infinite linear, mario_move 10s infinite linear; 
}

@keyframes mario{
	0%{
		background-image: url('../img/mario4.png');
	}
	50%{
		background-image: url('../img/mario5.png');
	}
	100%{
		background-image: url('../img/mario6.png');
	}
}
@keyframes mario_move{
	0%{
		left: -5%;
	}
	100%{
		left: 105%;
	}
}

/* Mountain */
.mountain1{
	z-index: 2;
	position: absolute;
	top: 91px;

	width: 63px;
	height:47px;

	background-image: url('../img/mountain1.png');
}
.mountain2{
	z-index: 2;
	position: absolute;
	top: 11px;

	width: 96px;
	height:127px;

	background-image: url('../img/mountain2.png');
}

#mountain0{
	animation: mountain0 30s infinite linear;
}
#mountain1{
	animation: mountain1 40s infinite linear;
}
#mountain2{
	animation: mountain2 40s infinite linear;
}

@keyframes mountain0{
	0%{
		left: 105%;
	}
	100%{
		left: -5%;
	}
}
@keyframes mountain1{
	0%{
		left: 125%;
	}
	100%{
		left: -10%;
	}
}
@keyframes mountain2{
	0%{
		left: 145%;
	}
	100%{
		left: -5%;
	}
}


/* body style */
.content{
	width: 90vw;
	margin: auto;
	margin-top: 10px;
}
.content article{
	box-shadow: 0 10px 50px rgba(0,0,0,0.19), 0 6px 50px rgba(0,0,0,0.23);
	padding: 5px;
	margin-bottom: 30px;
}
.content article h1{
	margin-left: 15px;
	font-size: 5vh;
}
.content article p{
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	font-size: 3vh;
}

.code{
	width: 80%;
	margin: auto;
	padding: 5px; 
	margin-bottom: 10px;
}
code{
	width: 100%;
}

#sound_btn{
	position: fixed;
	bottom: 10px;
	right: 10px;

	width: 50px;
	height: 50px;
}

.invisible{
	display: none;
}

article img, article video{
	height: auto;
    margin: auto;
    max-width: 90%;
    display: block;
    margin-bottom: 15px;
}

article table{
	margin: auto;
	margin-bottom: 25px;
	padding: 0;
}
article td{
	border: 1px solid black;
}
